#filaColumna
{
    background-color: rgba(11, 7, 28, 0.22);
    border: 2px solid ;
    /*border-radius: 5%;*/
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 27px;
    margin-bottom:3px ;
    height: 200px;
    align-content: center;
    font-family: "Arial Black";
    font-size: 12px;

}

#imagenproducto
{
    height: 70%;
    width: 90%;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    /*border-radius: 5%;*/
    border: 2px solid;
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */


}

#imagenproducto:hover img {
    -webkit-transform:scale(1.35);
    -moz-transform:scale(1.35);
    -ms-transform:scale(1.35);
    -o-transform:scale(1.35);
    transform:scale(1.35);
    border-radius: 5%;
    border: 1px solid;

}
#imgagenproducto {/*Ancho y altura son modificables al requerimiento de cada uno*/
    width:100%;
    height:100%;
    overflow:hidden;
}
img
{
    height: 100%;
    width: 100%;

}